<section id="products" class="container py-5 mt-5 text-center">
    <form action="" method="POST">
    <div class="form px-5 text-center">
        <h2 class="text-center mb-5 brand-font">Signup</h2>
        <div class="form-group text-center mb-4">
            <label for="name" class="form-label">Name</label>
            <input type="name" id="name" class="form-input" name="name" required placeholder="Enter your name">
            <!-- <div class="error" id="emailError">Please enter a valid email</div> -->
        </div>

        <div class="form-group text-center mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-input" name="email" required placeholder="Enter your email">
            <!-- <div class="error" id="emailError">Please enter a valid email</div> -->
        </div>

        <!-- Password -->
        <div class="form-group text-center mb-5">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-input" name="password" required placeholder="Enter your password">
            <!-- <div class="error" id="passwordError">Wrong password</div> -->
        </div>

        <div class="form-group text-center mb-5">
            <input type="submit" id="submit" class="form-group btn btn-primary text-center" value="Signup">
        </div>
    </div>
    </form>
</section>